<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_dev.dao.UserPicDao">

	<insert id="insertUserPic" parameterType="UserPic">
		insert into user_pics(name,pic,bio) 
		values (#{name},#{pic},#{bio})
	</insert>
	
	<select id="getUserPic" parameterType="int" resultType="UserPic">
		select * from user_pics where id=#{id}
	</select>
	
</mapper>






















